file,line,text
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,75,    if (RegN > 127)
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,76,      return {};
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,92,    while (I->isBundledWithPred())
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,93,      I--;
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,494,    for (auto &MBB : reverse(MF))
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUWaitSGPRHazards.cpp,495,      Worklist.insert(&MBB);
