file,line,text
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp,30,
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp,40,  }
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp,43,}
@LLVM_REPO@/llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp,42,"  return Handler.extendRegister(ValVReg, VA);"
